@import url('https://fonts.googleapis.com/css?family=Dosis|Yellowtail');

$pink: pink;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $pink;
}

button {
  background-color: white;
  border: 1px solid black;
  padding: 2%;
  display: block;
  margin: 10% auto;
}

button:hover {
  background-color: $pink;
}

header {
  background-color: white;
  height: 90px;
}

h1 {
  float: left;
  margin: 2%;
}

h2 {
  text-align: center;
}

nav {
  float: right;
  margin: 2%;
}

nav a {
  text-decoration: none;
  color: black;
  font-family: 'Dosis', sans-serif;
}

a:hover {
  color: $pink;
}

p {
  font-family: 'Dosis', sans-serif;
}

.border {
  width: 500px;
  height: 600px;
  border: 1px solid black;
  margin: 7%;
  justify-content: center;
}

.images > h1 {
  text-align: center;
}

.display {
  width: 100%;
  background-color: black;
  height: 600px;
}

.footer {
  height: 200px;
  background-color: black;
}

.footer h3 {
  text-align: center;
  font-family: 'Yellowtail', cursive;
  color: white;
  margin-top: 3%;
}

.gallery {
  height: 600px;
  margin: 13%;
}

.images {
  width: 100%;
  background-color: white;
  height: 900px;
  margin-top: 3%;
  display: flex;
}

.snowboardImg {
  width: 600px;
  margin: 5%;
  position: absolute;
}

.leftCol {
  width: 40%;
  float: left;
}

.rightCol {
  width: 40%;
  float: right;
  color: white;
  margin: 8%;
  padding: 2%;
  border: 1px solid white;
}

.rightCol h1 {
  margin-top: 3%;
}

.rightCol p {
  margin-top: 15%;
}

.shop {
  text-align: center;
  margin: 2%;
  font-family: 'Dosis', sans-serif;
}

.shop a {
  text-decoration: none;
  color: white;
  margin: 3%;
  font-size: 2.4em;
  font-family: 'Dosis', sans-serif;
}

#carousel {
		width: 480px;
		overflow:hidden;
}

#carousel ul {
	width: 1920px;
	padding: 0;
	margin: 0;
}

#carousel ul li {
	width:480px;
	text-align: center;
	height: 280px;
	list-style: none;
	float:	left;
}

#black {
  color: black;
}

#pink {
  color: $pink;
}

#sale {
  width: 400px;
  display: block;
  margin: 0 auto;

}
